@use "@/styles/variables" as *;

.overlay {
    position: fixed;
    inset: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    background: rgba($color-bg, 0.7);

    .modal {
        width: min(900px, 95vw);
        max-height: 90vh;

        padding: 24px;
        overflow: auto;

        background: $color-bg;
        color: $color-text;

        border: 1px solid $color-border;
        border-radius: 12px;

        .grid {
            display: grid;
            grid-template-columns: repeat(auto-fill, 220px);
            justify-content: center;

            column-gap: 0.5rem;
            row-gap: 0.5rem;

            margin-top: 24px;
        }
    }
}
