@use "../variables" as *;

.card {
    width: 220px;
    height: 308px;

    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.3s;
    cursor: pointer;

    &.flipped {
        transform: rotateY(180deg);
    }

    .face {
        position: absolute;
        inset: 0;

        display: flex;
        flex-direction: column;

        backface-visibility: hidden;

        border: 1px solid $color-border;
        border-radius: 0.5rem;

        padding: 12px;
    }

    .back {
        background: #111;
        color: white;

        display: flex;
        align-items: center;
        justify-content: center;

        font-weight: bold;
    }

    .front {
        transform: rotateY(180deg);
        background: #0d1117;
    }

    .name {
        font-weight: 700;
        margin-bottom: 8px;
    }

    .meta {
        display: flex;
        justify-content: space-between;
        font-size: 12px;
        margin-bottom: 8px;
        opacity: 0.8;
    }

    .description {
        font-size: 12px;
        opacity: 0.9;
        line-height: 1.3;

        margin-top: auto;
    }
}
